<%- include("./includes/header.ejs", {title:"Resume Form"}); %>
<br> <br>
<hr> <br>
<h3> See All Resume </h3>
<a href='resume/all'>See All</a>
<div class='container'>
  <div class='jumbotron'>
      <div class='row'>
        <div class='col-md-4'>
          <h3> Schools </h3>
          <select id='school_name'>
            <% schools.forEach(i => { %>
              <option value='<%=i.school_id%>'><%= i.school_name %></option>
            <% }); %>
          </select>
        </div>
        <div class='col-md-4'>
          <h3> Companies </h3>
          <select id='company_name'>
            <% companies.forEach(i => { %>
              <option value='<%=i.company_id%>'><%= i.company_name %></option>
            <% }); %>
          </select>
        </div>
        <div class='col-md-4'>
          <h3> Skills </h3>
          <select id='skill_name'>
            <% skills.forEach(i => { %>
              <option value='<%=i.skill_id%>'><%= i.skill_name %></option>
            <% }); %>
          </select>
        </div>
        <input type='text' id='inputbox' placeholder='resume name'>
      </div>
      <br>
      <div class='text-center'>
        <p id='specialid'><%=resumeid%></p>
        <button class='btn btn-primary' id='submitter'>Click Me!</button>
      </div>
  </div>
</div>

<script>
  var btn = document.querySelector('#submitter');
  btn.addEventListener('click', () => {
    var data = {};
    data.school_name = $("#school_name").val();
    data.company_name = $("#company_name").val();
    data.skill_name = $("#skill_name").val();
    data.account_id = $("#specialid").text();
    data.resume_name = $("#inputbox").val();
    $.post('http://localhost:3000/resume/edit/now/<%= resumeid %>', data, () => {
      $(location).attr('href', 'http://localhost:3000/resume/all');
    });

  })


</script>
