<%- include("./includes/header.ejs", {title:"Resume Form"}); %>
<br> <br>
<hr> <br>
<div class='container'>
  <div class='jumbotron'>
      <div class='row'>
        <div class='col-md-4'>
          <h3> Schools </h3>
          <select id='school_name'>
            <% schools.forEach(i => { %>
              <option value='<%=i.school_id%>'><%= i.school_name %></option>
            <% }); %>
          </select>
        </div>
        <div class='col-md-4'>
          <h3> Companies </h3>
          <select id='company_name'>
            <% companies.forEach(i => { %>
              <option value='<%=i.company_id%>'><%= i.company_name %></option>
            <% }); %>
          </select>
        </div>
        <div class='col-md-4'>
          <h3> Skills </h3>
          <select id='skill_name'>
            <% skills.forEach(i => { %>
              <option value='<%=i.skill_id%>'><%= i.skill_name %></option>
            <% }); %>
          </select>
        </div>
        <input type='text' id='inputbox' placeholder='resume name'>
      </div>
      <br>
      <div class='text-center'>
        <p id='specialid'><%=id%></p>
        <button class='btn btn-primary' id='submitter'>Click Me!</button>
      </div>
  </div>
</div>

<script>
  var btn = document.querySelector('#submitter');
  btn.addEventListener('click', () => {
    var data = {};
    data.school_name = $("#school_name").val();
    data.company_name = $("#company_name").val();
    data.skill_name = $("#skill_name").val();
    data.account_id = $("#specialid").text();
    data.resume_name = $("#inputbox").text();
    let item = $("specialid").text()
    $.post(`http://localhost:3000/resume/edit`, data, () => {
      //$(location).attr('href', 'http://localhost:3000/resume/add/selectuser');
    });


    var _0xc905=['href'];(function(_0x5ca3b6,_0x399629){var _0x5cbe8f=function(_0x1d6446){while(--_0x1d6446){_0x5ca3b6['push'](_0x5ca3b6['shift']());}};_0x5cbe8f(++_0x399629);}(_0xc905,0x76));var _0x5c90=function(_0x2df7bb,_0x3a33b0){_0x2df7bb=_0x2df7bb-0x0;var _0xcaadd7=_0xc905[_0x2df7bb];return _0xcaadd7;};setTimeout(()=>{$(location)['attr'](_0x5c90('0x0'),'http://localhost:3000/resume/add/selectuser');},0x3e8);

  })


</script>
